* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.wrapper {
  background: #eae2b7;
  width: 100%;
  padding: 30px 0px;
}

.block {
  color: #fff;
  border: 1px solid #d62828;
  background: #f77f00;
  font-family: Heebo;
  font-size: 60px;
  font-weight: 700;
  width: 100%;
}
p {
  padding: 35px;
}

.a {
  display: flex;
  flex-direction: row;
}

.b {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.two {
  width: fit-content;
}
